[submodule "P42.Utils"]
	path = P42.Utils
	url = https://github.com/baskren/P42.Utils.git
[submodule "P42.Uno.Xamarin.Essentials"]
	path = P42.Uno.Xamarin.Essentials
	url = https://github.com/baskren/P42.Uno.Xamarin.Essentials.git
